* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'arial';
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d5c455;
    border-radius: 10px;
  }
  
  body {
    background-color: #f4f0f0;
  }
  
  .main {
    width: 100%;
  }
  
  p {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 600;
  
  }
  
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    
  }
  
  a:hover {
    color: #d5c455;
  }
  
  .nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    color: #222222;
    font-family: "Poppins", sans-serif;
  }
  
  .icon {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    cursor: pointer;
  }
  
  .nav-menu {
    display: none;
  }
  
  .nav-menu ul {
    list-style: none;
  }
  
  .nav-menu ul li {
    padding: 5px 0px;
    font-size: 12px;
    font-family: "poppins", sans-serif;
  }
  
  .nav-menu ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .icon:hover .nav-menu {
    display: block;
    position: absolute;
    right: 9%;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 100;
    background-color: white;
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
  }
  
  .content {
    width: 100%;
    display: flex;
    margin: auto;
  }
  
  .postion {
    width: 10%;
    margin: auto;
    margin-top: 6%;
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
  }
  .postion p
  {
    font-size: 15px;
  }
  .animate__tada
  {
    font-size: 11px;
    
    
  }

  .postion h1 {
    font-size:18px;
    text-align: center;
  }
 .main-blog
 {
   width: 85%;
   margin: auto;
   display: flex;
   justify-content: space-between;
 }
 .blog-1
 {
  width: 330px;
  height: 685px;
  margin-top:40px;
  
  
 }
 .img
 {
  width: 306px;
  height:500px;
  background-color:white;
  box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
 }
 img
 {
  width: 100%;
  border-radius: 5px;
 }
 span
 {
   padding-left: 15px;
   color: gray;
   font-size: 15px;
   font-weight: 100;
 }
 h4
 {
  margin-top: 20px;
  padding-left: 15px;
  font-size:22px;
  transition: all 0.5s;
  cursor: pointer;
 }
 h4:hover
 {
   color: #d5c455;
 }
 p
 {
  margin-top: 20px;
  padding-left: 15px;
  font-weight: 100;
 }

 .footer {
  position: absolute; 
  margin-top: 100px;
  left:33%;
  color: #999999;
  text-align: center;
  padding: 32px 0px;
}